@keyframes wobble {
    0% { transform: scale(1) }
    50% { transform: scale(0.9) }
    100% { transform: scale(1) }
}
body { padding: 0; margin: 0 }
#unity-container { position: absolute; width: 100%; height: 100%; }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: {{{ BACKGROUND_COLOR }}}; width: 100%; height: 100% }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none; }
#unity-loading-bar-icon { position: absolute; left: calc(50% - 64px); top: 30%; width: 128px; transform: translate(-50%, -50%); display: none; animation: wobble 2s ease-in-out infinite; }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-footer { position: absolute; right: 8px; bottom: 8px; }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 28px; height: 28px; background: url('fullscreen-button.png') no-repeat center; background-size: contain; border-radius: 4px; opacity: 0.5; }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
